.word {
    display: inline-block;
}

.isSelected {
    color: darkgray;
}

.completed {
    color: darkgray;
}

    /* From http://stackoverflow.com/questions/4364263/css-line-through-with-a-color-different-from-the-text-color */
    .completed {
        position: absolute;
        border-bottom: 1% solid red;
        height: 50%;
    }

/* Size override for iPhone 6 Plus */
/* @media (max-width: 415px)
{
    .word
    {
        font-size: 18px;
    }
} */