* {
    /* font-size: 1.2em; */
}



.wordContainer {
    user-select: none;
    line-height: 1.5em;
}

div {
    color: AFD275;
}

.stillLoading {
    color: rgb(102, 102, 102);  /*  Blends into background of word list */
}