<div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-logo></app-logo>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary" (click)="previewEndGameModal()">
          Preview End-Game Modal
        </button>
      </div>
    </div>
    <!--<div class="row">
      <div style="position: relative; height: 500px; width: 500px; background: lightgray">
        <app-word-selection-overlay *ngIf="this.sampleWordStraightR" [coords]="this.sampleWordStraightR"></app-word-selection-overlay>
        <app-word-selection-overlay *ngIf="this.sampleWordStraightD" [coords]="this.sampleWordStraightD"></app-word-selection-overlay>
        <app-word-selection-overlay *ngIf="this.sampleWordUL" [coords]="this.sampleWordUL"></app-word-selection-overlay>
        <app-word-selection-overlay *ngIf="this.sampleWordUR" [coords]="this.sampleWordUR"></app-word-selection-overlay>
        <app-word-selection-overlay *ngIf="this.sampleWordDR" [coords]="this.sampleWordDR"></app-word-selection-overlay>
        <app-word-selection-overlay *ngIf="this.sampleWordDL" [coords]="this.sampleWordDL"></app-word-selection-overlay>
      </div>
    </div>-->
    <!--<div class="row">
      <div class="col-md-4">Timer</div>
      <div class="col-md-4"><app-timer></app-timer></div>
      <div class="col-md-4"></div>
    </div>-->
    <!-- ACTUAL GAME -->
    <div class="row">
      <div class="col-md-12" style="height: 100%;">
        <app-gameplay *ngIf="samplePuzzle" [puzzle]="samplePuzzle"></app-gameplay>
      </div>
    </div>
    <!--<div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead class="thead">
            <th class="col-md-4">Description</th>
            <th class="col-md-4">Example</th>
            <th class="col-md-4">Code</th>
          </thead>
          <tbody>
            <tr>
              <td>Word</td>
              <td><app-word [word]="this.singleWord"></app-word></td>
              <td>coming soon</td>
            </tr>
            <tr>
              <td>Word List</td>
              <td><app-word-list *ngIf="this.sampleWordList" [words]="this.sampleWordList"></app-word-list></td>
              <td></td>
            </tr>
            <tr>
              <td>Word (Found)</td>
              <td><app-word [word]="this.foundWord"></app-word></td>
              <td></td>
            </tr>
            <tr>
              <td>Word Grid</td>
              <td><app-word-grid *ngIf="this.samplePuzzle" [puzzle]="this.samplePuzzle" (lettersClicked)="this.onLettersClicked($event)"></app-word-grid></td>
              <td></td>
            </tr>
            <tr>
              <td>XML to JSON Service</td>
              <td>{{sampleXmlToJson}}</td>
              <td></td>
            </tr>
            <tr>
              <td>Game Content Service</td>
              <td>{{sampleLoadedGame}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>"-->
    <!--</div>-->
  </div>
</div>