/* @import url('https://fonts.googleapis.com/css?family=Montserrat'); */
/* @import url('https://fonts.googleapis.com/css?family=Raleway'); */
/* @import url('https://fonts.googleapis.com/css?family=Zilla+Slab'); */
@import url('https://fonts.googleapis.com/css?family=Sanchez');

.grid {
    cursor: pointer;
    /* width: 30em;
    height: 30em; */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

}

.cell {
    /* width: 2em;
    height: 2em; */
    display: inline-block;
    text-align: center;
    font-weight: bold;
    border: .15em solid rgba(0,0,0,0);
}

    .isCircled {
        border: solid .15em red;
        border-radius: 10em;
    }

.letter {
    font-family: 'Sanchez';/* 'Zilla Slab'; */ /* Raleway; */ /*Montserrat*/
    font-size: 1.25em;
    font-weight: bold;
    margin-left: -.05em;
}

.hotspot {
    position: relative;
    margin-top: -1.45em;
    height: 1.5em;
    width: 1.5em;
    border-radius: 1em;
}

.cell.isHighlighted
{
    background: gray;
    border-radius: 2em;
    color: white;
}

/* Size override for iPhone 6 portrait mode */


/* Size override for iPhone 6 plus
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait)
{
    .grid 
    {
        width: 104%;
        height: 100%;
    }

    .cell 
    {
        width: 6.66%;
        height: 6.66%;
    }
} */

/* iPad portrait mode */
/* @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
{
    .grid 
    {
        width: 51.5em;
        height: 51.5em;
    }

    .gridRow {
        height: 6.66%;
    }

    .cell 
    {
        width: 6.66%;
        height: 100%;
        font-size: 2em;
    }

    .hotspot {
    }
} */



/* Size override for Galaxy 5 */
/* @media (max-width: 360px)
{
    .grid 
    {
        width: 353px;
        height: 353px;
    }
    .gridRow {
        height: 23.52px;
    }
    .cell 
    {
        width: 6.666%;
        height: 23.52px;
    }
    .letter {
        margin-left: -.17em;
    }

} */

/* Size override for iPhone 6 Plus */
/* @media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait)
{
    .grid {
        width: 405px;
        height: 405px;
        background: orange;
    }
    .gridRow {
        height: 26.989px;
    }
    .cell 
    {
        width: 6.666%;
        height: 26.989px;
    }
} */