@import url('https://fonts.googleapis.com/css?family=Sanchez');

.grid {
    cursor: pointer;
    /* width: 30em;
    height: 30em; */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.cell {
    /* width: 2em;
    height: 2em; */
    display: inline-block;
    text-align: center;
    font-weight: bold;
    border: .15em solid rgba(0,0,0,0);
    border-radius: 50%;
}

    .isCircled {
        border: solid .15em red;
        border-radius: 10em;
    }

.hotspot {
    position: absolute;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    /* background: pink; */
    margin-left: 13%;
    opacity: .7;
    top: 12%;
    /* background: orange; */
}

.cell.isHighlighted
{
    background: gray;
    color: white;
}
