<div id="end-of-game">
  <div class="step" id="one" *ngIf="step == 1">
    
    <div>Congratulations! You found all the words</div>
    <div>
      <button class="btn btn-primary" (click)="nextMessage()">Ok</button>
    </div>
  </div>

  <div class="step" id="two" *ngIf="step === 2">
    <div>Click here for the Wonderword.</div>
    
    <button class="btn btn-primary" (click)="nextMessage()">Ok</button>
  </div>

  <div class="step" id="three" *ngIf="step === 3">
    <div id="solution">{{this.puzzle.solution}}</div>

    <div>
      <button class="btn btn-primary" (click)="restart()">Restart</button>
    </div>
  </div>
</div>