<div id="end-of-game" >
  <div id="one" *ngIf="step == 1">
    
    <div>You found all of the words!</div>
    <div>
      <button class="btn btn-primary" (click)="nextMessage()">Ok</button>
    </div>
  </div>

  <div id="two" *ngIf="step === 2">
    <div>And here's the WONDERWORD!</div>
    
    <button class="btn btn-primary" (click)="nextMessage()">Ok</button>
  </div>

  <div id="three" *ngIf="step === 3">
    <div id="solution">{{this.puzzle.solution}}</div>

    <div>
      <button class="btn btn-primary" (click)="restart()">Restart</button>
    </div>
  </div>
</div>