.overlay {
    height: 300%;
    width: 300%;
    top: -100px;
    left: -100px;
    position: relative;
    overflow: hidden;
}

.svgContainer {
    position: relative;
    /*background: orange;*/
}

.innerSvg {
    top: 0px;
    left: 0px;
}

/* Size override for iPhone 6 */
@media (max-width: 380px)
{
    .overlay {
        left: -102px;
    }   
}

/* Size override for Galaxy 5 */
@media (max-width: 360px)
{
    .overlay {
        left: -102px;
    }   
}