/* Universal portrait mode modifications */
@media only screen and (orientation : portrait)
{
    .wordContainer 
    {
        display: inline-block;
    }

    #wordList
    {
      background: pink;
        clear: both;
        float: none;
        width: 50%;
    }

    .wordList
    {
        height: 100%;
        overflow: hidden;
        font-size: .85em;
    
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-count: 1;
        -moz-column-gap: 0em;
        -webkit-column-gap: 0em;
        column-gap: 0em;
    }

    .wordContainer app-word:after {
        content: ",\00a0";
    }
    .wordContainer app-word:after:last-child {
        content: "";
    }
}