/* Universal portrait mode modifications */
@media only screen and (orientation : portrait)
{
    #wordGridContainer {
        height: auto;
        width: 100%;
    }

    #actualContainerOfWordGrid
    {
        /* width: 60%; */
    }

    .wordContainer 
    {
        display: inline-block;
    }

    #wordList
    {
        width: 100%;

        /* Explicitly for 6S demo */
        height: 130px !important;

        /* color: yellow !important; */
        overflow: hidden;
        /* font-size: .85em; */
    
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-count: 1;
        -moz-column-gap: 0em;
        -webkit-column-gap: 0em;
        column-gap: 0em;
    }


    @media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait)
    {
        #wordList
        {
            width: 100%;
    
            /* Explicitly for 6 demo */
            height: 130px !important;
            /* color: green;          */
        }
    }    

    @media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait)
    {
        #wordList {
            /* Explicitly for 6 plus demo */
            height: 140px !important;
            /* color: red;          */
        }
    }  

    .wordContainer app-word:after {
        content: ",\00a0";
    }
    .wordContainer:last-child app-word:after {
        content: "";
    }

    /* Modals */
    .modal-lg {
        width: 80%;
      }
}