/* Universal portrait mode modifications */
@media only screen and (orientation : portrait)
{
    #wordGridContainer {
        height: auto;
        width: 100%;
    }

    #actualContainerOfWordGrid
    {
        /* width: 60%; */
    }

    .wordContainer 
    {
        display: inline-block;
    }

    #wordList
    {
        width: 100%;

        /* Explicitly for 6S demo */
        height: 320px !important;
        color: yellow !important;
        overflow: hidden;
        /* font-size: .85em; */
    
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-count: 1;
        -moz-column-gap: 0em;
        -webkit-column-gap: 0em;
        column-gap: 0em;
    }

    .wordContainer app-word:after {
        content: ",\00a0";
    }
    .wordContainer:last-child app-word:after {
        content: "";
    }

    /* Modals */
    .modal-lg {
        width: 80%;
      }
}