/* You can add global styles to this file, and also import other style files */

.verticalCenter {
  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
}

/* could move back; doesn't vary by orientation */
.gridRow {
  height: 6.667%;
}

/* could move back; doesn't vary by orientation */
.cell {
  height: 100%;
  width: 6.667%;
}

/* Overrides for bootstrap modals */
.modal-footer {
  /* display: none;   */
}

.overlay {
  height: 300%;
  width: 300%;
  top: -100px;
  left: -100px;
  position: relative;
  overflow: hidden;
}

.letter {
  font-family: 'Sanchez';/* 'Zilla Slab'; */ /* Raleway; */ /*Montserrat*/
  font-size: 1.25em;
  font-weight: bold;
  margin-left: -.05em;
}

#wordGridContainer{
  /* padding: 1%; */
}

#wordList
{
    height: 100%;
    overflow: hidden;
    font-size: .85em;
}

.row {
  padding: 1%;
}

@media only screen and (orientation : landscape)
{
  .wordList {
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
  }
}