div {
    user-drag: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
}

#wordList {
    width: 52%;
}

.wordList
{
    height: 100%;
    overflow: hidden;
    font-size: .85em;

    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-gap: 2em;
    -webkit-column-gap: 2em;
    column-gap: 2em;
}

#puzzleTitle {
    font-weight: bold;
}

.pauseShield {
    position: absolute; top: 0px; left: 0px; z-index: 2000; background: #1F2833; width: 100%; height: 100%;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    padding-top: 40%;
}

/* Theme */
.container {
    background: #71A0FF;
    color: #C5C6C7; 
}

/deep/ .wordList {
    background: #666666;
    color: white 
}

/deep/ .grid{
    background: #FCFEFE;    /* Almost white */
    color: black; 
}

/deep/ #puzzleTitle {
    color: white;
    /* color: #FFD400; */
}

/* Previous */
/* .wordList {  }
.container { background: #1F2833; color: #C5C6C7; }
/deep/ .grid{ background: #45A29E; color: #adfffa; } */

.container {
    font-family: Roboto;
    
    border-radius: 1em;
    padding-top: 1em;
    padding-left: 2em;
    padding-bottom: 1em;
    padding-right: 2em;
}

h3 {
    margin-top: 0px;
}

@media only screen and (max-width: 768px)
{
    #wordList {
        width: 100%;
        font-size: .85em;
   }
    .wordList {
        column-count: 1;
        width: 100%;
    }
}