div {
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
}

/* #wordList {
    width: auto;
    margin-top: 1%;
    padding: 1%;
} */

#puzzleTitle {
  font-weight: bold;
}

.pauseShield {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2000;
  background: #1f2833;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  padding-top: 40%;
}

.vc-parent {
  display: flex;
  align-items: center;
  justify-content: left;
}

/* Theme */
.ww-container {
  background: #71a0ff;
  color: white;
  cursor: pointer;
}

#wordList {
  background: #666666;
  padding: 1%;
  /* color: green; */
}

/* Prevent a slight overlap with bottom text and gameport edge */
@media only screen and (orientation : portrait)
{
  .wordList {
    padding: 0% 0% 1% 0%;
  }
}

/deep/ .grid {
  background: #fcfefe; /* Almost white */
  color: black;
}

/deep/ #puzzleTitle {
  color: white;
  /* color: #FFD400; */
}

.ww-container {
  font-family: Roboto;

  /* border-radius: 1em; */
}

h3 {
  margin-top: 0px;
}

#timerBar {
  position: relative;
  height: 1.5em;
  overflow: hidden;
}

#wordList {
  font-size: 0.2em;
  line-height: .02em;
}
/* #wordList {
  font-size: 0.85em;
} */

#solutionSizeLabel {
  /* font-size: 0.7em; */
  color: orange;
  user-select: none;
}