<div appTakeAllAvailableSpace class="ww-container" style="overflow: hidden" (mousemove)="onMouseMove()">
    <div id="wordGridContainer" style="position: relative; float: left;" *ngIf="this.isVisible">
      <div id="timerBar">
        <div style="float: left; height: 100%; user-select: none" class="vc-parent">
          <div id="puzzleTitle" appDynamicFontSize=".04">
            {{this.puzzle.title}}
          </div>
        </div>
        <div class="vc-parent" style=" text-align: right; float: right; height: 100%; user-select: none">
          <app-timer style="height: 100%;"></app-timer>
          <div id="pauseButtons" style="height: 100%; margin-left: .25em; padding-left: .25em; padding-right: .25em" class="vc-parent">
            <div class=" pauseButton" [class.hidden]="!this.isPaused" class="glyphicon glyphicon-play" (click)="this.unpause()"></div>
            <div class=" pauseButton" [class.hidden]="this.isPaused" class="glyphicon glyphicon-pause" (click)="this.pause()"></div>
          </div>
        </div>
      </div>

      <div id="actualContainerOfWordGrid" style="position: relative; clear: both">
        <div [class.hidden]="!this.isPaused" class="pauseShield">PAUSED</div>

        <app-word-grid [puzzle]="this.puzzle" style="position: relative; height: 100%; width: 100%">
          <!-- Word being selected -->
          <div appBiggestPossibleSquare style="position: absolute;    top: 0px;    left: 0px;    height: 100%;    width: 100%;pointer-events: none;">
            <app-word-selection-overlay *ngIf="this.wordBeingSelected" style="position: absolute; pointer-events: none; height: 100%; width: 100%; top: 0px; left: 0px;" [coords]="this.wordBeingSelected.coords" [color]="'blue'" >
            </app-word-selection-overlay>
          </div>
        </app-word-grid>
      </div>
    </div>
    <div id="wordList" appFillAllSpaceAvailable>
      <div id="solutionSizeLabel" *ngIf="this.puzzle && !this.puzzle.isComplete()" appDynamicFontSize=".03">Solution: {{this.puzzle.solution.length}} letters</div>
      <div *ngIf="!this.puzzle.isComplete()" class="wordList" style="font-size: 1em" appEnlargeFontToFit>
        <app-word-list [words]="this.puzzle.words" (wordSelected)="onWordSelected($event)" (wordIndicated)="onWordIndicated($event)"></app-word-list>
      </div>

      <app-end-of-game appDynamicFontSize=".0325" *ngIf="this.puzzle.isComplete()" [puzzle]="this.puzzle" (resetRequested)="resetRequested()" style="height: 100%"></app-end-of-game>
    </div>
</div>